body {
    /* 其他样式 */
    background-image: url('../旭光.jpg');
    /* 替换为您的桌面端图片文件名 */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #e0e0e0;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* 添加媒体查询，针对小屏幕设备 */
@media (max-width: 768px) {
    body {
        background-image: url('../白花.jpg');
        /* 替换为您的手机端图片文件名 */
    }
}

/* 其他样式 */

header {
    background-color: rgba(30, 40, 60, 0.8);
    /* 设置头部背景为深蓝色，带有一定的透明度 */
    color: #fff;
    /* 设置头部文字颜色为白色 */
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav li {
    margin-left: 20px;
}

nav a {
    color: #a0b0c0;
    /* 设置导航链接颜色为浅蓝色 */
    text-decoration: none;
}

nav a:hover {
    color: #c0d0e0;
    /* 设置导航链接鼠标悬停时的颜色 */
}

main {
    flex: 1;
    padding: 20px;
}

footer {
    background-color: rgba(30, 40, 60, 0.8);
    color: #fff;
    text-align: center;
    padding: 10px 0;
    margin-top: auto;
    width: 100%;
}

nav a[href="index.html"] {
    color: #ff6600;
    /* 返回主页链接的特殊颜色 */
    font-weight: bold;
    /* 加粗字体 */
}

.zoomable-image {
    cursor: pointer;
    /* 将鼠标指针设置为手型 */
    transition: transform 0.3s ease;
    /* 添加过渡效果 */
}

.content-wrapper {
    display: grid;
    grid-template-columns: 3fr 1fr;
    /* 调整主内容和侧边栏的宽度比例 */
    gap: 20px;
    /* 设置间距 */
}

aside {
    background-color: rgba(30, 40, 60, 0.8);
    /* 设置侧边栏背景颜色 */
    padding: 20px;
    color: #e0e0e0;
}

/* 移动端样式 */
@media (max-width: 768px) {
    .content-wrapper {
        grid-template-columns: 1fr;
        /* 移动端显示单列 */
    }

    aside {
        order: 2;
        /* 移动端显示在底部 */
    }
}

.aplayer-list {
    overflow-y: auto;
    /* 超出部分显示滚动条 */
    scrollbar-width: thin;
    /* Firefox */
    scrollbar-color: #888 #f0f0f0;
    /* Firefox */
}

.aplayer-list::-webkit-scrollbar {
    width: 6px;
}

.aplayer-list::-webkit-scrollbar-track {
    background: #f0f0f0;
    border-radius: 10px;
}

.aplayer-list::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

.aplayer-list::-webkit-scrollbar-thumb:hover {
    background: #555;
}